@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Cn';
  src: url(fonts/Roboto-Condensed.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Lt';
  src: url(fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Bk';
  src: url(fonts/Roboto-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Bk';
  src: url(fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Cn';
  src: url(fonts/Roboto-BoldCondensedItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Lt';
  src: url(fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Th';
  src: url(fonts/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Lt';
  src: url(fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Cn';
  src: url(fonts/Roboto-CondensedItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Th';
  src: url(fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Lt';
  src: url(fonts/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Cn';
  src: url(fonts/Roboto-BoldCondensed.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.light .base-container {
  background-color: #EEEEEE; }

.light .search-bar-container {
  background-color: #FFE600; }

.light .items-list {
  background-color: #ffffff; }
  .light .items-list .item-container:hover {
    background-color: rgba(238, 238, 238, 0.5); }

.light .item-detail {
  background-color: #ffffff; }
  .light .item-detail .buy-btn {
    background-color: #3483fa;
    color: white; }
    .light .item-detail .buy-btn:hover {
      background-color: #2968c8; }
    .light .item-detail .buy-btn:active {
      background-color: #1f4e96; }
    .light .item-detail .buy-btn:focus {
      box-shadow: 0 0 0 0.1875em rgba(30, 109, 255, 0.3);
      outline: none; }

.breadcrumbs {
  display: inline;
  font-size: .75rem;
  font-weight: 400;
  color: #999999;
  letter-spacing: .5px; }
  .breadcrumbs .go-back-button {
    margin-right: .5rem; }
  .breadcrumbs .category {
    margin-right: .5rem; }
    .breadcrumbs .category:not(:last-child)::after {
      content: '>';
      margin-left: .5rem; }

.search-bar-container {
  width: 100%;
  height: 3.5rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 1px 2px 0px #EEEEEE;
  border-bottom: 1px solid #d6d6d6;
  display: flex; }
  .search-bar-container .logo-input-container {
    margin: auto;
    max-width: 1100px;
    width: 1100px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .search-bar-container .logo-input-container .logo {
      margin-right: 1rem;
      background-image: url(src/assets/logo.png);
      background-size: cover;
      height: 36px;
      width: 53px; }
    .search-bar-container .logo-input-container .search-input {
      flex-grow: 1;
      font-size: 1rem;
      padding: .65rem 4rem .65rem 1rem;
      border-radius: .1rem;
      border: none;
      box-shadow: 0 1px 1px 1px #EEEEEE; }
      .search-bar-container .logo-input-container .search-input:focus {
        outline: none; }
    .search-bar-container .logo-input-container .search-btn {
      width: 16px;
      height: 16px;
      background-image: url(src/assets/search.png);
      padding: .75rem;
      background-position: center;
      background-size: 16px;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      border-top-right-radius: .1rem;
      border-bottom-right-radius: .1rem; }
      .search-bar-container .logo-input-container .search-btn:hover {
        background-color: #EEEEEE; }

.base-container {
  min-height: 100vh;
  padding-top: 3.5rem;
  box-sizing: border-box;
  display: flex;
  overflow: auto; }

:root {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

::placeholder {
  color: #999999;
  opacity: .75; }

body {
  margin: 0; }

.items-list-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 1.5rem 0; }
  .items-list-container .items-list {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 0.15rem; }
    .items-list-container .items-list .item-container {
      height: 170px;
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      position: relative;
      cursor: pointer;
      transition: all 100ms ease-in; }
      .items-list-container .items-list .item-container .foto {
        width: 140px;
        min-width: 140px;
        margin: 0.5rem; }
      .items-list-container .items-list .item-container .item-info {
        padding: 1rem; }
        .items-list-container .items-list .item-container .item-info .titulo {
          margin: 0.85rem 0;
          font-size: 1rem;
          font-weight: 400; }
        .items-list-container .items-list .item-container .item-info .precio {
          margin: 0.85rem 0;
          font-size: 1.25rem;
          font-weight: 300; }
        .items-list-container .items-list .item-container .item-info .lugar {
          position: absolute;
          right: 2rem;
          top: 0rem;
          font-size: 0.75rem;
          font-weight: 300; }
        .items-list-container .items-list .item-container .item-info .free-shipping-container {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .items-list-container .items-list .item-container .item-info .free-shipping-container .free-shipping-icn {
            background-image: url(src/assets/free_shipping.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
            margin-right: 0.5rem; }
          .items-list-container .items-list .item-container .item-info .free-shipping-container .free-shipping-tag {
            color: #00a650;
            font-size: 0.9rem;
            font-weight: 400; }
      .items-list-container .items-list .item-container:not(:last-child) {
        border-bottom: solid 1px #EEEEEE; }

.item-detail-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0; }
  .item-detail-container .item-detail {
    width: 100%;
    border-radius: 0.15rem;
    margin-top: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap; }
    .item-detail-container .item-detail .item-description-column {
      flex: 8;
      min-width: 400px; }
      .item-detail-container .item-detail .item-description-column .gallery-container {
        height: 300px;
        display: flex;
        flex-flow: row nowrap; }
        .item-detail-container .item-detail .item-description-column .gallery-container .list-of-images {
          display: flex;
          flex-flow: column nowrap;
          overflow: auto;
          padding-right: 20px; }
          .item-detail-container .item-detail .item-description-column .gallery-container .list-of-images .mini-pic {
            margin: .25rem;
            width: 3rem;
            height: 50px;
            min-height: 50px;
            box-sizing: border-box;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain; }
            .item-detail-container .item-detail .item-description-column .gallery-container .list-of-images .mini-pic:hover {
              border: 1px solid #999999; }
        .item-detail-container .item-detail .item-description-column .gallery-container .large-pic {
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
      .item-detail-container .item-detail .item-description-column .pictures-container {
        height: 300px; }
      .item-detail-container .item-detail .item-description-column .item-picture {
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
      .item-detail-container .item-detail .item-description-column .item-info-container {
        padding: 1rem 2.5rem; }
      .item-detail-container .item-detail .item-description-column .item-description-container {
        margin-top: 1rem;
        border-top: 1px solid #EEEEEE; }
        .item-detail-container .item-detail .item-description-column .item-description-container .description-tag {
          font-size: 1rem; }
        .item-detail-container .item-detail .item-description-column .item-description-container .description p {
          word-wrap: break-word;
          line-break: auto;
          white-space: break-spaces; }
    .item-detail-container .item-detail .item-buy-info-column {
      flex: 4;
      padding: .5rem; }
      .item-detail-container .item-detail .item-buy-info-column .item-info-wrapper {
        border-radius: .5rem;
        padding: .5rem;
        border: 1px solid #EEEEEE; }
      .item-detail-container .item-detail .item-buy-info-column .above-title {
        font-size: .75rem;
        color: #999999; }
      .item-detail-container .item-detail .item-buy-info-column .title {
        font-size: 1.25rem;
        margin: .25rem 0 .5rem 0; }
      .item-detail-container .item-detail .item-buy-info-column .price {
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: 400; }
      .item-detail-container .item-detail .item-buy-info-column .buy-btn {
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        padding: .75rem;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        transition: all 100ms ease-in; }
      .item-detail-container .item-detail .item-buy-info-column .free-shipping-container {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .item-detail-container .item-detail .item-buy-info-column .free-shipping-container .free-shipping-icn {
          background-image: url(src/assets/free_shipping.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 30px;
          width: 30px;
          margin-right: .5rem; }
        .item-detail-container .item-detail .item-buy-info-column .free-shipping-container .free-shipping-tag {
          color: #00a650;
          font-size: .9rem;
          font-weight: 400; }

