.base-container {
  // width: 100vw;
  min-height: 100vh;
  padding-top: 3.5rem;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
}

:root {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif
}

::placeholder {
  color: $gray;
  opacity: .75;
}

body {
  margin: 0;
}

.item-not-found {
  margin: 2rem auto;
  border: 1px solid $lgray;
  border-radius: 5px;
  padding: 3rem;
  align-self: flex-start;
  text-align: center;
}